%% Local Variables:
%% mode: erlang
%% End:

%%% Default service config
[


 {mme_node, [
        {capabilities, [base]}
       ]},

 {sgw_node, [
        {capabilities, [base]}
       ]},

 {pgw_node, [
        {capabilities, [base]}
       ]},

 {hss_node, [
        {capabilities, [base]}
       ]},

 {app2, [
         {param, value}
        ]}

].
